<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dividend Wire" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/template/assets/images/logo/logo-sm.png" type="image/gif" sizes="16x16">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/template/manifest.json">
    <link rel="icon" href="/template/icon.png" type="image/png">
    <link rel="icon" href="/template/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/template/icon.png">
    <link rel="stylesheet" href="/template/lib/bootstrap_5/bootstrap.min.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="/template/lib/fontawesome/css/all.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/template/assets/css/global.css">
    <link rel="stylesheet" href="/template/assets/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/template/assets/css/responsive.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="d2c_theme_light">
    <%= yield %>
    <!-- Initial  Javascript -->
    <script src="/template/lib/jQuery/jquery-3.5.1.min.js"></script>
    <script src="/template/lib/bootstrap_5/bootstrap.bundle.min.js"></script>
    <!-- Chart Config -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/template/assets/js/apexchart/script.js"></script>
    <!-- custom js -->
    <script src="/template/assets/js/main.js"></script>
  </body>
</html>
